<h1 class="text-center">Shopping List</h1>
<div class="d-flex justify-content-around">
  <div>
    Amount of foods to buy:
    <%= %>
  </div>
  <div>
    Total value of food needed: $
    <%= %>
  </div>
</div>


<div class="d-flex flex-column d-flex justify-content-center mx-auto" style="width: 80%;">
  <table class="min-w-full bg-white">
    <thead class="p-3 mb-2 bg-secondary text-white">
      <tr class="ml-1">
        <th class="border border-slate-600">Food</th>
        <th class="border border-slate-600">Quantity</th>
        <th class="border border-slate-600">Price</th>
      </tr>
    </thead>
    <tbody class="text-gray-700">
      
    </tbody>
  </table>
</div>


