<h1 class="text-center">Public Recipes</h1>
<p style="color: green"><%= notice %></p>

<div id="recipes" class="w-75">
  <% @recipes.each do |recipe| %>
    <%= render partial: "public_recipe", locals: {recipe: recipe} %>
  <% end %>
</div>
