<div id="<%= dom_id recipe %>" class="container border m-5 p-3 row">
  <div class="col-4">
    <h2>
      <%= link_to recipe.name, recipe %>
    </h2>
    <%= button_to "REMOVE", recipe, method: :delete %>
  </div>

  <p class="col-8">
    <%= recipe.description %>
  </p>

</div>
