<div class="users-container">
    
            <div class="user-info-box">
                
            <h2 class="user-name"><%= current_user.name %></h2>
              
                
            </div>

            <button class="button">
        <%= link_to "Add Food", foods_new_path(), class:"text-dec" %>
    </button>

</div>